---
title: Reprojection of features as mesh
shortdesc: Display a map in EPGS:2154 with geojson as mesh in various CRS, showing reprojection capabilities of FeatureCollection
attribution: © <a target="_blank" href="https://opendata.paris.fr/">Paris Data</a>
---
<div class="p-2 position-absolute top-0 end-0 side-pane-with-status-bar col-2" style="pointer-event:
    none; height: 9rem">
    <div class="card h-100">
        <h5 class="card-header">Information</h5>

        <!-- tooltip -->
        <span class="badge bg-secondary position-absolute top-0 end-0 m-2" data-bs-toggle="popover"
            data-bs-content="pickingHelper">?</span>
        <p class="card-text d-none" id="pickingHelper">Some informations embedded in the GeoJSON</p>

        <div class="card-body overflow-auto">

            <!-- Result table -->
            <div id="results"></div>
        </div>
    </div>
</div>
