---
title: Hillshading & terrain
shortdesc: Enable hillshading and set sunlight azimuth and angle, as well as terrain deformation.
longdesc: Hillshading is a realistic shading technique that uses elevation data to simulate the sunlight behaviour. You can change the sun rays' orientation (azimuth) and slope (zenith). Terrain deformation can be toggled on and off. If toggled off, the map is displayed as a flat surface, while still retaining shading capabilities. Terrain stitching is a rendering technique that reduces cracks and visible seams at the boundary between neighbouring terrain tiles. Disabling stitching can improve performance at the cost of increased visual artifacts.
attribution: © <a target="_blank" href="https://ign.fr/">IGN</a>
---
<div class="m-2 position-absolute top-0 end-0">
    <div class="card m-1">
        <div class="card-header">
            Terrain rendering
        </div>

        <fieldset class="container m-1" id="terrainOptions">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" checked="true" role="switch" id="terrainDeformation">
                <label class="form-check-label" for="terrainDeformation">Terrain deformation</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" checked="true" role="switch" id="terrainStitching">
                <label class="form-check-label" for="terrainStitching">Terrain stitching</label>
            </div>

        </fieldset>

        <hr>

        <fieldset class="container m-1" id="hillshadingOptions">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" checked="true" role="switch" id="hillshadingCheckbox">
                <label class="form-check-label" for="hillshadingCheckbox">Hillshading</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" checked="true" role="switch" id="colorLayers">
                <label class="form-check-label" for="colorLayers">Shade color layers</label>
            </div>

            <label for="azimuthSlider" class="form-label">Azimuth (0 - 360)</label>
            <div class="input-group">
                <input type="range" min="0" max="360" value="315" class="slider" id="azimuthSlider">
            </div>

            <div class="my-2"></div>

            <label for="zenithSlider" class="form-label">Zenith (0 - 90)</label>
            <div class="input-group">
                <input type="range" min="0" max="90" value="45" class="slider" id="zenithSlider">
            </div>

            <label for="intensitySlider" class="form-label">Intensity</label>
            <div class="input-group">
                <input type="range" min="0" max="1" value="1" step="0.1" class="slider" id="intensitySlider">
            </div>

            <label for="zFactorSlider" class="form-label">Z-factor</label>
            <div class="input-group">
                <input type="range" min="0" max="10" value="1" step="0.1" class="slider" id="zFactorSlider">
            </div>

            <label for="opacitySlider" class="form-label">Color layer opacity</label>
            <div class="input-group">
                <input type="range" min="0" max="100" value="100" class="slider" id="opacitySlider">
            </div>
        </fieldset>
    </div>
</div>
