---
title: HTML labels
shortdesc: Display HTML labels in the 3D scene.
longdesc: Labels are HTML elements produced by Three.js' <a href="https://threejs.org/docs/index.html?q=css2#examples/en/renderers/CSS2DRenderer" target="_blank"><code>CSS2DRenderer</code></a>. They can be styled using normal CSS styling.
attribution: © <a target="_blank" href="https://ign.fr/">IGN</a>
---
