---
title: Dynamic layer updates
shortdesc: The layer is updated when the style changes.
---
<div class="m-2 position-absolute top-0 end-0">
    <div class="card m-1">
        <fieldset class="container m-1" id="styleOptions">
            <label for="thicknessSlider" class="form-label">Line thickness</label>
            <div class="input-group">
                <input type="range" min="0" max="10" value="1" class="slider" id="thicknessSlider">
            </div>

            <div class="my-2"></div>

            <label for="iconScaleSlider" class="form-label">Icon radius</label>
            <div class="input-group">
                <input type="range" min="1" max="100" value="1" step="1" class="slider" id="iconScaleSlider">
            </div>

            <label for="iconOpacitySlider" class="form-label">Icon opacity</label>
            <div class="input-group">
                <input type="range" min="0" max="1" value="1" step="0.05" class="slider" id="iconOpacitySlider">
            </div>

            <div class="my-4"></div>

            <!-- Assign new style -->
            <button type="button" class="btn btn-primary" id="changeStyleBtn">Assign random style</button>

        </fieldset>
    </div>
</div>
