---
title: Stacking transparent maps
shortdesc: Illustrates how transparency in maps work.
longdesc: Transparency in maps (and any other 3D object) is a tricky problem. Due to limitations in how 3D renderers work, it is not generally possible to correctly display overlapping transparent objects. For example, set the opacity of at least 2 maps to less than 100%, rotate the camera around, and observe various rendering issues, such as missing map tiles.
attribution: © <a target="_blank" href="https://ign.fr/">IGN</a>, © <a href="http://www.itowns-project.org/">iTowns</a>
---
<div class="m-2 position-absolute top-0 end-0">

    <!-- Vector map -->
    <div class="card m-2">
        <div class="card-header">
            <div class="form-check form-switch">
                <input class="form-check-input" checked type="checkbox" role="switch" id="show-vector">
                <label class="form-check-label" for="show-vector">Vector map</label>
            </div>
        </div>

        <fieldset class="container m-1" id="vector-options">

            <!-- Opacity -->
            <label for="vector-opacity" class="form-label">Map opacity</label>
            <div class="input-group">
                <input type="range" min="0" step="0.01" max="1" value="1" class="slider" id="vector-opacity">
            </div>

            <!-- Opacity -->
            <label for="vector-bg-opacity" class="form-label">Background opacity</label>
            <div class="input-group">
                <input type="range" min="0" step="0.01" max="1" value="0" class="slider" id="vector-bg-opacity">
            </div>

        </fieldset>
    </div>

    <!-- Orthophoto map -->
    <div class="card m-2">
        <div class="card-header">
            <div class="form-check form-switch">
                <input class="form-check-input" checked type="checkbox" role="switch" id="show-orthophoto">
                <label class="form-check-label" for="show-orthophoto">Orthophoto map</label>
            </div>
        </div>

        <fieldset class="container m-1" id="orthophoto-options">

            <!-- Opacity -->
            <label for="orthophoto-opacity" class="form-label">Map opacity</label>
            <div class="input-group">
                <input type="range" min="0" step="0.01" max="1" value="1" class="slider" id="orthophoto-opacity">
            </div>

        </fieldset>
    </div>

    <!-- Terrain map -->
    <div class="card m-2">
        <div class="card-header">
            <div class="form-check form-switch">
                <input class="form-check-input" checked type="checkbox" role="switch" id="show-terrain">
                <label class="form-check-label" for="show-terrain">Terrain map</label>
            </div>
        </div>

        <fieldset class="container m-1" id="terrain-options">

            <!-- Opacity -->
            <label for="terrain-opacity" class="form-label">Map opacity</label>
            <div class="input-group">
                <input type="range" min="0" step="0.01" max="1" value="1" class="slider" id="terrain-opacity">
            </div>

        </fieldset>
    </div>

</div>
