---
title: Vector sources
shortdesc: Display Vector data on a Map using vector sources.
attribution: © <a target="_blank" href="https://openlayers.org/">OpenLayers</a>
longdesc: The <a href="../apidoc/classes/sources.VectorSource.html" target="_blank"><code>VectorSource</code></a> accepts all formats that OpenLayers handle (such as GeoJSON, KML, GPX...). The <code>VectorSource</code> accepts either a URL to the remote data file, or the text content of the file, or an array of OpenLayers features. The style of the source is expressed using the OpenLayers </code>Style</code> object.
---
