---
title: Transparent canvas background
shortdesc: A canvas with a transparent background.
longdesc: You can render Giro3D's scene on a transparent background, using the appropriate options in the <a href="../apidoc/classes/core.Instance.html" target="_blank"><code>Instance</code></a> constructor.
attribution: © <a target="_blank" href="https://www.usgs.gov/">U.S. Geological Survey</a>
---
